body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-family: arial;
  font-weight: bold;
}
.cont {
  display: flex;
}
.cont input {
  width: 50px;
  height: 50px;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}
#result {
  text-align: center;
}
#btn {
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
}
h6 {
    position: absolute;
    left: 10px;
    top: 10px;
    margin-top: 0;
}
